@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.philosopher-regular {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
 background-color:#000000;
    background-image: url('orig.jpg');
    background-repeat: no-repeat;
    background-position: top right;
background-size: 717px auto;
 font-family: "Philosopher", sans-serif;
 }



.name {
    
    color: #FFFFFF;
font-size:70px;

margin-left: 87px;
            
}

.block {
   
    color: #FFFFFF;
font-size:24px;
margin-left: 87px;
margin-bottom: 15px;

}

hr {
margin-left: 89px;}

.entry {
    
    color: #FFFFFF;
font-size:42px;
margin-left: 87px

}

 .p2 {
   
    margin-top: 5px;
}

 .p1 {
   
    margin-bottom: 5px;}

 a:hover {
            color: #DCDCDC;
        }

 a:active {
            color: #DCDCDC;
        }

a:visited {
            color: #FFFFFF;
        }

.div1 {
            color: #DCDCDC;
text-align: center;
    margin-top: 35px;

        }
